<div class="column is-one-third">
	<div class="card">
		<div class="card-image">
			<figure class="image">
			<img src={{imgUrl}}>
			</figure>
		</div>
		<div class="card-content">
			<div class="content">
				<a href={{articleUrl}}><h3>{{title}}</h3></a>
			</div>
		</div>
		<footer class="card-footer">
            <a href="/api/removeFav/{{_id}}" class="card-footer-item">Remove from Favorites</a>
			
			<a href="/article/{{_id}}" class="card-footer-item">View Comments</a>
		</footer>
	</div>
</div>